/* line 1, ../../app/stylesheets/application.sass */
body {
  font-size: 12px;
  font-family: arial;
}

/* line 5, ../../app/stylesheets/application.sass */
#header {
  width: 600px;
}

/* line 8, ../../app/stylesheets/application.sass */
h1 {
  font-size: 36px;
  font-weight: bolder;
  width: 250px;
  margin: 0 auto;
}

/* line 14, ../../app/stylesheets/application.sass */
h2 {
  font-size: 18px;
  font-weight: bolder;
  width: 250px;
  margin: 0 auto;
}

/* line 20, ../../app/stylesheets/application.sass */
hr {
  color: black;
  background-color: black;
  height: 5px;
}

/* line 25, ../../app/stylesheets/application.sass */
#server-form {
  margin: 10px;
}

/* line 28, ../../app/stylesheets/application.sass */
.clear {
  clear: both;
}

/* line 32, ../../app/stylesheets/application.sass */
.track .number {
  float: left;
  width: 60px;
  margin: 5px 10px;
}
/* line 37, ../../app/stylesheets/application.sass */
.track .name {
  float: left;
  margin: 5px 10px;
}

/* line 41, ../../app/stylesheets/application.sass */
#center {
  float: left;
  width: 690px;
}

/* line 45, ../../app/stylesheets/application.sass */
#player {
  font-size: 18px;
  padding: 20px;
  border: 10px solid black;
  margin: 10px;
  width: 600px;
}
/* line 52, ../../app/stylesheets/application.sass */
#player a.links, #player span, #player .random, #player .continuous {
  font-size: 11px;
  display: block;
  float: left;
}
/* line 57, ../../app/stylesheets/application.sass */
#player label {
  font-size: 11px;
}
/* line 60, ../../app/stylesheets/application.sass */
#player #number-of-tracks {
  float: left;
  width: 100px;
  font-size: 12px;
}
/* line 64, ../../app/stylesheets/application.sass */
#player #number-of-tracks .text {
  font-weight: bolder;
}
/* line 66, ../../app/stylesheets/application.sass */
#player #number-of-tracks div {
  float: left;
}
/* line 69, ../../app/stylesheets/application.sass */
#player #controls {
  width: 310px;
  height: 60px;
  margin: 0 auto;
}
/* line 73, ../../app/stylesheets/application.sass */
#player #controls .skip-backwards, #player #controls .seek-backwards, #player #controls .play, #player #controls .stop, #player #controls .seek-forwrds, #player #controls .skip-forwrds {
  float: left;
  width: 50px;
}
/* line 77, ../../app/stylesheets/application.sass */
#player #volume {
  /*border: 1px solid black */
  vertical-align: middle;
  float: right;
  width: 110px;
}
/* line 82, ../../app/stylesheets/application.sass */
#player #volume #vol, #player #volume #vol-controls {
  float: left;
}
/* line 84, ../../app/stylesheets/application.sass */
#player #volume #vol {
  width: 50px;
  height: 100px;
  position: relative;
}
/* line 88, ../../app/stylesheets/application.sass */
#player #volume #vol img {
  position: absolute;
  top: 55%;
  margin-top: -25px;
}
/* line 92, ../../app/stylesheets/application.sass */
#player #volume #volume-level {
  width: 100px;
  text-align: center;
  font-weight: bolder;
  margin: 10px 0;
}
/* line 98, ../../app/stylesheets/application.sass */
#player #time {
  font-size: 12px;
  color: blue;
}
/* line 102, ../../app/stylesheets/application.sass */
#player #track-info {
  font-size: 12px;
  width: 450px;
  /*border: 1px solid black */
  float: left;
}
/* line 107, ../../app/stylesheets/application.sass */
#player #track-info .label, #player #track-info .name {
  float: left;
}
/* line 109, ../../app/stylesheets/application.sass */
#player #track-info .label {
  width: 50px;
  font-weight: bolder;
}
/* line 113, ../../app/stylesheets/application.sass */
#player #track-info .track-num, #player #track-info .artist, #player #track-info .album, #player #track-info .title, #player #track-info .genres, #player #track-info .filename {
  margin: 5px 0;
}

/* line 116, ../../app/stylesheets/application.sass */
#search {
  border: 10px solid black;
  padding: 20px;
  margin: 10px;
  width: 620px;
  padding: 10px;
}
/* line 122, ../../app/stylesheets/application.sass */
#search input[type='text'] {
  border: 1px solid grey;
  width: 500px;
}

/* line 126, ../../app/stylesheets/application.sass */
#server-url {
  display: none;
}

/* line 129, ../../app/stylesheets/application.sass */
#tracks {
  overflow: auto;
  height: 600px;
  width: 600px;
  position: relative;
}
/* line 135, ../../app/stylesheets/application.sass */
#tracks .playing {
  background-color: yellow;
}

/* line 139, ../../app/stylesheets/application.sass */
#server-form input[type='text'] {
  width: 300px;
}

/* line 143, ../../app/stylesheets/application.sass */
#queue-tracks {
  float: left;
  width: 400px;
  padding: 20px;
  border: 10px solid black;
  display: none;
}

/* line 150, ../../app/stylesheets/application.sass */
#previous-tracks {
  float: left;
  width: 200px;
  padding: 20px;
  border: 10px solid black;
  margin: 10px;
  font-size: 10px;
  display: none;
}
