/* line 1, ../../app/stylesheets/application.sass */
body {
  font-size: 12px;
  font-family: arial;
}

/* line 5, ../../app/stylesheets/application.sass */
div {
  /*border: 1px solid black */
}

/* line 8, ../../app/stylesheets/application.sass */
.clear {
  clear: both;
}

/* line 12, ../../app/stylesheets/application.sass */
.track .number {
  float: left;
  width: 60px;
  margin: 5px 10px;
}
/* line 17, ../../app/stylesheets/application.sass */
.track .name {
  float: left;
  margin: 5px 10px;
}

/* line 21, ../../app/stylesheets/application.sass */
#previous-tracks {
  float: left;
  width: 200px;
  padding: 20px;
  border: 10px solid black;
  margin: 10px;
}

/* line 28, ../../app/stylesheets/application.sass */
#center {
  float: left;
  width: 690px;
}

/* line 32, ../../app/stylesheets/application.sass */
#player {
  font-size: 18px;
  padding: 20px;
  border: 10px solid black;
  margin: 10px;
  width: 600px;
}
/* line 39, ../../app/stylesheets/application.sass */
#player #number-of-tracks {
  float: left;
  width: 100px;
  font-size: 12px;
}
/* line 43, ../../app/stylesheets/application.sass */
#player #number-of-tracks .text {
  font-weight: bolder;
}
/* line 45, ../../app/stylesheets/application.sass */
#player #number-of-tracks div {
  float: left;
}
/* line 48, ../../app/stylesheets/application.sass */
#player #controls {
  width: 310px;
  height: 60px;
  margin: 0 auto;
}
/* line 52, ../../app/stylesheets/application.sass */
#player #controls .skip-backwards, #player #controls .seek-backwards, #player #controls .play, #player #controls .stop, #player #controls .seek-forwrds, #player #controls .skip-forwrds {
  float: left;
  width: 50px;
}
/* line 56, ../../app/stylesheets/application.sass */
#player #volume {
  /*border: 1px solid black */
  vertical-align: middle;
  float: right;
  width: 110px;
}
/* line 61, ../../app/stylesheets/application.sass */
#player #volume #vol, #player #volume #vol-controls {
  float: left;
}
/* line 63, ../../app/stylesheets/application.sass */
#player #volume #vol {
  width: 50px;
  height: 100px;
  position: relative;
}
/* line 67, ../../app/stylesheets/application.sass */
#player #volume #vol img {
  position: absolute;
  top: 55%;
  margin-top: -25px;
}
/* line 71, ../../app/stylesheets/application.sass */
#player #volume #volume-level {
  width: 100px;
  text-align: center;
  font-weight: bolder;
  margin: 10px 0;
}
/* line 77, ../../app/stylesheets/application.sass */
#player #time {
  font-size: 12px;
  color: blue;
}
/* line 81, ../../app/stylesheets/application.sass */
#player #track-info {
  font-size: 12px;
  width: 450px;
  /*border: 1px solid black */
  float: left;
}
/* line 86, ../../app/stylesheets/application.sass */
#player #track-info .label, #player #track-info .name {
  float: left;
}
/* line 88, ../../app/stylesheets/application.sass */
#player #track-info .label {
  width: 50px;
  font-weight: bolder;
}
/* line 92, ../../app/stylesheets/application.sass */
#player #track-info .track-num, #player #track-info .artist, #player #track-info .album, #player #track-info .title, #player #track-info .filename {
  margin: 5px 0;
}

/* line 95, ../../app/stylesheets/application.sass */
#search {
  border: 10px solid black;
  padding: 20px;
  margin: 10px;
  width: 620px;
  padding: 10px;
}
/* line 101, ../../app/stylesheets/application.sass */
#search input[type='text'] {
  border: 1px solid grey;
  width: 500px;
}

/* line 105, ../../app/stylesheets/application.sass */
#server-url {
  display: none;
}

/* line 108, ../../app/stylesheets/application.sass */
#tracks {
  overflow: auto;
  height: 600px;
  width: 600px;
  position: relative;
}
/* line 114, ../../app/stylesheets/application.sass */
#tracks .playing {
  background-color: yellow;
}

/* line 118, ../../app/stylesheets/application.sass */
#server-form input[type='text'] {
  width: 500px;
}

/* line 122, ../../app/stylesheets/application.sass */
#queue-tracks {
  float: left;
  width: 200px;
  padding: 20px;
  border: 10px solid black;
}
